html {
    height: 100%;
}
    
body {
    height: 100%;

}

.wrapper {
    min-height: 100%;
    position: relative;
}

strong {
    color: red;
}

li {
    font-weight: 200;
}


.caption {
    display: none;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
    opacity: 0;
}

a {
    display: inline-block;
    position: relative;
}

a:hover .caption {
    display: block;
    opacity: 1;
}

.span4 img {
    padding-bottom: 2%;
    -webkit-filter: grayscale (make one if want to change);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.span4 img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.span8 {
    margin: 0 auto;
    float: none;
}

.span8 img {
    padding-bottom: 2%;
}

.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    bottom: -40px; 
}

.contactthumbs {
    padding-bottom: 3%;
}

.contactthumbs img {
    opacity: .5;
}

.contactthumbs img:hover {

    opacity: 1;
}

.dropdown-backdrop {
    position: static;
}

.row-fluid {
    padding-top: 1%;
    padding-bottom: 1%;
}

p.contactthumbs {
    text-align: center;
    padding-top: 5%;
}

p.muted {
    text-align: center;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.bottom {
    position: relative;
    bottom: 40px;
}

.bottom_2 {
    position: relative;
    bottom: 15px;
}

.top {
    position: relative;
    bottom: 5px;
}

.container-fluid img {
    padding-bottom: 1%;
    position: relative;
}

.container-fluid a {
    color: #808080;
}

.container-fluid a:hover {
    color: black;
    text-decoration: none;
}

.scroll_images {
    position: relative;
    bottom: 90px;
}

.return {
    position: relative;
    bottom: 30px;
}

.btn-navbar {
    background: white;
    border: #EBEBEB;
    box-shadow: none;
}

.homepage {
    padding-top: 5%;
}
