body {
    background-color: white;
    font-family: sans-serif;
    color: #999;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: #999;
}

a:hover {
    color: red;
    text-decoration: none;
}

header {
    padding: 100px 0px 0px 0px;
}

h1 {
    margin: 0px;
    display: inline;
    font-weight: lighter;
}

h1 medium {
    color: red;
    font-weight: bolder;
}


nav ul {
    display: inline;
    float: right;
    position: relative;
    top: 17px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 0px 0px 15px;
}

.processbook {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.processbook:hover {
  -webkit-filter: blur(5px);
}

.sketches {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    margin-top: 10px;
}

.sketches:hover {
    -webkit-filter: blur(5px);
}

.sketch {
    margin-top: 20px;
}


.text1 {
    position: relative;
    top: -256px;
    left: 10px;
    color: white;
}

.text2 {
    position: relative;
    top: -45px;
    left: 10px;
    color: white;
}

.contact {
    position: relative;
    top: 8px;
}

.dividecontact {
    border: 1px solid black;
}

.info {
    padding: 5px 0px 0px 0px;
}

.resume {
    border: 1px solid black;
    margin-top: 20px;
}

div.info {
    margin-left: auto;
    margin-right: auto;
}

#carousel-example-generic {
    position: relative;
    top: -20px;
}

.carousel-control { 
    background: none !important; 
    filter: none !important; 
    progid:none !important; 
}